:root {
    --clr-red: rgb(255, 49, 124);
    --clr-white: rgb(255, 255, 255);
    --clr-black: black;
    --clr-grey: rgb(150, 150, 150);
    --clr-container-books: rgb(220, 220, 220);
    --clr-text: rgb(245, 245, 245);
    --clr-text-border: rgb(230, 230, 230);
    --font: arial;
}

::selection {
    color: var(--clr-white);
    background: var(--clr-black);
}

#sidebar-icons-items::selection,
#mijn-logo::selection,
#svg::selection {
    background-color: var(--clr-red);
    color: var(--clr-white);
}

img::selection {
    background-color: var(--clr-white);
}

.button1-state1::selection,
.nu-beschikbaar::selection {
    color: var(--clr-black);
    background-color: var(--clr-white);
}

* {
    font-family: var(--font);
}

.background {
    width: 100vw;
    height: 150vh;
    margin: -10px;
    background-color: var(--clr-red);
    position: fixed;
    display: flex;
    justify-content: flex-start;
}

.container-big {
    /* position: fixed; */
    background-color: var(--clr-white);
    /* height: 95vh;
    width: 92vw;
    margin-left: 7%;
    margin-top: 1%; */
    border-radius: 10px;
    /* border-width: 1px;
    border-style: solid;
    border-color: var(--clr-black); */


    position: relative;
    height: 95vh;
    margin-top: 1%;
    margin-left: 0.5%;
    /* width: 74vw; */

    margin-right: 1%;
    /* display:block !important; */
    /* float:none !important; */
    /* width: 78vw; */
    width: 1000vw;
    /* padding-left: 135px;
    padding-right: 135px; */
    transition: 0.3s ease-in-out;
    transition-delay: 0.1s;
}

.container-sidebar:hover {
    padding-right: 155px;
    /* width: 8%; */
}

.container-sidebar:hover #svg1 {
    transform: rotate(-90deg);
    transform-origin: 40px 20px;
    scale: 2;
    /* left: -40px; */
    /* display: none; */
    /* position: absolute; */

    /* transform: rotate(-90deg) translateX(190%) translateY(100%); */
}

/* .container-sidebar:hover+.container-big {
    padding-left: 0vw;
} */
.container-sidebar:hover .menu-text {
    opacity: 1;
}

.container-sidebar:hover .menu-text-current {
    opacity: 1;
}

.container-sidebar:hover .menu-text-br {
    opacity: 1;
}

.container-sidebar:hover #mijn-logo {
    transform: translateY(10px);
}

.container-sidebar {
    background-color: var(--clr-white);
    border-radius: 10px;

    position: relative;
    height: 95vh;
    margin-top: 1%;
    margin-left: 1%;
    width: 80px;

    /* border-width: 1px;
    border-style: solid;
    border-color: var(--clr-black); */
    /* z-index: 100; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    transition: 0.3s ease-in-out;
    transition-delay: 0.1s;
}

#sidebar-icons-items,
#mijn-logo,
#sidebar-icons-items-current {
    color: var(--clr-red);
    font-size: 300%;
    position: relative;
    white-space: nowrap;
    left: 1vw;
    transition: 0.05s ease-in-out;
    transition-delay: 0.1s;
}

#mijn-logo {
    font-size: 180%;
    font-weight: bold;
    left: 0.6vw;
    transition: 0.3s ease-in-out;
    transition-delay: 0.1s;
}

#svg1 {
    width: 50px;
    position: relative;
    left: 8px;
    color: var(--clr-red);
    transition: 0.3s ease-in-out;
    transition-delay: 0.1s;
    left: 1.3vw;
}

#sidebar-icons-items-current,
.menu-text-current {
    color: var(--clr-grey);
}

.menu-text,
.menu-text-current,
.menu-text-br {
    opacity: 0;
    font-size: 18px;
    transition: 0.5s ease-in-out;
    transition-delay: 0.1s;
    font-weight: bold;
    position: relative;
    top: -10px;
    /* position: absolute;
    top: 15px; */
    /* transition: color 0.05s ease-in-out; */
}

#sidebar-icons-items:hover{
    color: var(--clr-black);
}



.menu-text-br {
    position: absolute;
    top: 5px;
}

/* .container-menu-text{
    background-color: rgba(0, 0, 255, 0.132);
    position: relative;
    z-index: 100;
    height: 95vh;
    margin-top: 1.05%;
    margin-left: -15%;
    width: 55vw;

}

ol{
    list-style: none;
    line-height: 80px;
}

#sidebar-text, #sidebar-text-current{
    position: relative;
    color: var(--clr-red);
    font-size: 25px;
}

#sidebar-text-current{
    color: var(--clr-grey);
} */

h1 {
    color: var(--clr-red);
    position: absolute;
    left: 2.2%;
    top: 1%;
    margin-left: 0px;
    font-size: 30px;
    /* background-color: blue; */
    /* margin-bottom: 0px; */
    /* transition: 5.2s ease-in-out; */
}

h5 {
    position: absolute;
    left: 2.2%;
    top: 6%;    
    /* background-color: blue; */
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    font-size: 16px;
    /* transition: 4.2s ease-in-out; */
}

.button1-state1,
.nu-beschikbaar {
    background-color: var(--clr-black);
    color: var(--clr-white);
    border: none;
    font-size: 17px;
    border-radius: 5px;
    position: relative;
    left: 2.2%;
    top: 14%;
    line-height: 32px;
    box-shadow: 2px 2px 5px -1px var(--clr-black);
    transition: 0.1s ease-in-out;
}

.button1-state1 {
    /* left: 200px; */
}

.button1-state1:hover,
.nu-beschikbaar:hover {
    scale: 0.99;
    box-shadow: 1px 1px 5px -2px var(--clr-black);
    cursor: pointer;
}

.container-books,
.container-books2 {
    background-color: var(--clr-grey);
    background-color: var(--clr-container-books);
    height: 75%;
    width: 95.5%;
    border-radius: 10px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    /* justify-content: flex-start; */
    column-gap: 10px;

    /* column-gap: 0px; */
    row-gap: 5px;
    overflow: auto;
    border-width: 3px;
    border-right: 1px;
    border-style: solid;
    border-color: var(--clr-black);
    transition: 0.2s ease-in-out;
}

.container-books {
    z-index: 999;
}

.container-books:hover,
.container-books2:hover, 
.container-locations:hover {
    box-shadow: 1px 1px 4px 0px var(--clr-black);

}

.container-book-individual {
    /* margin: 0%; */
    background-color: var(--clr-white);
    width: 250px;
    height: 260px;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    top: 10px;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    border-style: solid;
    border-color: var(--clr-black);
    border-width: 1px;
}

.container-book-individual:hover {
    box-shadow: 1px 1px 5px 1px var(--clr-black);
}

img {
    position: relative;
    left: 10px;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}

::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
    background: var(--clr-white);
    border-radius: 500px;
    margin-block: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--clr-red);
    border-radius: 500px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--clr-white);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(221, 0, 0);
    border-width: 1px;
    box-shadow: 0px 0px 10px 3px black;
}

.book-name {
    position: relative;
    top: -10px;
    left: 5%;
    height: 20px;
    width: 230px;
    color: var(--clr-red);
    font-weight: bold;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: var(--clr-black);
}

img:hover {
    box-shadow: 1px 1px 5px -1px var(--clr-black);
    scale: 1.01;
}


.auteur {
    position: absolute;
    left: 6%;
    top: 91%;
    color: var(--clr-black);
    font-weight: bold;
    font-size: 80%;
}

.book-text {
    font-size: 12px;
    background-color: var(--clr-text);
    border-radius: 5px;
    border-style: solid;
    border-width: 4px;
    border-color: var(--clr-text-border);
    position: relative;
    right: 38%;
    top: 3%;
    width: 40%;
    height: 67%;
    transition: 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    width: 95px;
    height: 80%;
    top: 2%;
    position: relative;
}

.text-icons {
    position: relative;
    top: 4%;
    width: 100px;
    height: 15%;
    display: flex;
    justify-content: space-evenly;
}

.fa-thumbs-o-up,
.fa-thumbs-o-down {
    color: var(--clr-black);
    width: 30px;
    position: relative;
    bottom: 9%;
    right: 5%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.fa-thumbs-o-down {
    color: var(--clr-red);
}

/* [id*="thumbs-up"] */

#thumbs-up-button-filled-1,
#thumbs-up-button-filled-2,
#thumbs-up-button-filled-3,
#thumbs-up-button-filled-4,
#thumbs-up-button-filled-5,
#thumbs-up-button-filled-6,
#thumbs-up-button-filled-7,
#thumbs-up-button-filled-8,
#thumbs-up-button-filled-9,
#thumbs-up-button-filled-10,
#thumbs-up-button-filled-11,
#thumbs-up-button-filled-12,
#thumbs-up-button-filled-13,
#thumbs-up-button-filled-14,
#thumbs-up-button-filled-15,
#thumbs-up-button-filled-16,
#thumbs-up-button-filled-17,
#thumbs-up-button-filled-18 {
    color: var(--clr-black);
    width: 30px;
    position: relative;
    bottom: 9%;
    right: 5%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
}


#thumbs-down-button-filled-1,
#thumbs-down-button-filled-2,
#thumbs-down-button-filled-3,
#thumbs-down-button-filled-4,
#thumbs-down-button-filled-5,
#thumbs-down-button-filled-6,
#thumbs-down-button-filled-7,
#thumbs-down-button-filled-8,
#thumbs-down-button-filled-9,
#thumbs-down-button-filled-10,
#thumbs-down-button-filled-11,
#thumbs-down-button-filled-12,
#thumbs-down-button-filled-13,
#thumbs-down-button-filled-14,
#thumbs-down-button-filled-15,
#thumbs-down-button-filled-16,
#thumbs-down-button-filled-17,
#thumbs-down-button-filled-18 {
    color: var(--clr-red);
    width: 30px;
    position: relative;
    bottom: 9%;
    right: 5%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
}

#caption-symbols-up,
#caption-symbols-down {
    position: relative;
    right: 0%;
    padding-inline-start: 4px;
    color: var(--clr-black);
}

#caption-symbols-down {
    padding-inline: 0px;
    width: 20px;
    color: var(--clr-red);
}

#caption-symbol-cancel {
    position: relative;
    color: var(--clr-red);
    background-color: rgb(255, 236, 236);
    box-shadow: 1px 1px 5px -1px var(--clr-black);
    border-radius: 100px;
    top: 5px;
    font-size: 20px;
}

.material-symbols-outlined {
    font-size: 200%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
}

#mijn-logo {
    display: inline;
}

#target2 {
    display: none;
}

#target-h5-first {
    /* overflow-wrap:break-word ; */
    display: inline;
    top: 6.7%;
}

#target-h5-second {
    display: none;
}

#cancel-suggestion {
    color: var(--clr-red);
    border-radius: 100px;
    padding: 0%;
    border: none;
    background-color: rgb(255, 236, 236);
    position: relative;
    bottom: 44%;
    left: -45%;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    box-shadow: 1px 1px 5px -1px var(--clr-black);
    z-index: 100;
}

#cancel-suggestion:hover {
    scale: 0.99;
    box-shadow: 0px 0px 5px -2px var(--clr-black);
}

/* #opacity-less{
    opacity: 0.5;
} */

/* .container-book-individual:hover{
    transform: translateY(1000px);
} */

/* #zoom-in-link{
    position: absolute;
    background-color: transparent;
    border: none;
    font-size: 24px;
    z-index: 100;
    bottom: 1.5%;
    right: 1%;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

#zoom-in-link:hover{
    scale: 1.1;
} */

#drop-down{
    background-color: var(--clr-container-books);
    height: 68.5vh;
    width: 250px;
    top: 17.6%;
    left: 2.5%;
    border-radius: 10px;
    position: relative;
    border-width: 2px;
    border-right: 1px;
    border-style: solid;
    border-color: var(--clr-black);
    z-index: 100000;
    overflow: auto;
    display: none;
}

.list-plaatsen{
    list-style: none;
    font-size: 18px;
    padding-left: 20px;
    line-height: 170%;
}

.vakjes{
    cursor: pointer;
}

#overlap-for-menu{
    background-color: var(--clr-white);
    height: 75%;
    width: 95.5%;
    border-radius: 10px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 20%;
    border-width: 3px;
    border-right: 1px;
    border-style: solid;
    border-color: var(--clr-black);
    z-index: 10000;
    opacity: 0.8;
    display: none;
}

input{
    accent-color: red;
    cursor: pointer;
}