:root {
    --clr-red: rgb(255, 0, 0);
    --clr-white: rgb(255, 255, 255);
    --clr-black: black;
    --clr-grey: rgb(150, 150, 150);
    --clr-container-books: rgb(220, 220, 220);
    --clr-text: rgb(245, 245, 245);
    --clr-text-border: rgb(230, 230, 230);
    --font: avenir, arial;

    --clr-shadow: black;

    --small-text: 0.5px 0.5px 2px var(--clr-shadow);
    --small-text-hover: 0px 0px 2px var(--clr-shadow);
    --medium-text: 1px 1px 1px var(--clr-shadow);
    --medium-text-hover: 0.5px 0.5px 1px var(--clr-shadow);

    --box: 2px 2px 5px 0px var(--clr-shadow);
    --box-hover: 1px 1px 5px -1px var(--clr-shadow);

    --small-box-none: 1px 1px 5px 0px var(--clr-shadow);
    --medium-box-none: 1px 1px 2px 0px var(--clr-shadow);
    --big-box-none: 2px 2px 5px 0px var(--clr-shadow);
}

@media (prefers-color-scheme: dark) {
    :root {}
}

body {
    background-color: red;
}

* {
    font-family: var(--font);
}

*:focus {
    outline: none;
}

::selection {
    color: var(--clr-white);
    background: var(--clr-black);
}

.background {
    width: 100vw;
    height: 150vh;
    margin: -10px;
    background-color: var(--clr-red);
    position: fixed;
    display: flex;
    justify-content: flex-start;
}

.container-sidebar {
    background-color: var(--clr-white);
    border-radius: 10px;
    position: relative;
    /* height: 95vh; */
    margin-top: 1%;
    margin-left: 1%;
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    transition: 0.3s ease-in-out;
    transition-delay: 0.1s;
    overflow-y: hidden;
}

.container-sidebar:hover {
    padding-right: 155px;
}

.container-sidebar:hover #svg1 {
    transform: rotate(-90deg);
    transform-origin: 40px 20px;
    scale: 2;
}

.container-sidebar:hover .menu-text {
    opacity: 1;
}

.container-sidebar:hover .menu-text-current {
    opacity: 1;
}

.container-sidebar:hover .menu-text-br {
    opacity: 1;
}

.container-sidebar:hover #mijn-logo {
    transform: translateY(10px);
}

#menu-arrow {
    position: absolute;
    top: 50%;
    z-index: 1000;
    text-shadow: var(--small-text);
}

#hide-menu {
    background-image: linear-gradient(to bottom right, rgb(190, 190, 190), rgb(255, 255, 255) 40%);
    font-size: 12px;
    margin-top: -35px;
    margin-left: -5px;
    position: fixed;
    border-radius: 5px;
    width: 80px;
    line-height: 13px;
    cursor: pointer;
    box-shadow: var(--box);
    transition: 0.2s ease-in-out;
    border: none;
    box-sizing: border-box;
    z-index: 100000000000000000000;
}

#hide-menu:hover {
    box-shadow: var(--box-hover);
}

#sidebar-icons-items,
#mijn-logo,
#sidebar-icons-items-current {
    color: var(--clr-red);
    font-size: 300%;
    position: relative;
    white-space: nowrap;
    left: 1vw;
    text-shadow: var(--medium-text);
    transition: 0.2s ease-in-out;
}

#sidebar-icons-items:hover {
    text-shadow: var(--medium-text-hover);
    scale: 0.90;
}

#mijn-logo {
    font-size: 180%;
    font-weight: bold;
    left: 0.6vw;
    transition: 0.3s ease-in-out;
    transition-delay: 0.1s;
    display: inline;
}

#svg1 {
    width: 50px;
    position: relative;
    left: 8px;
    color: var(--clr-red);
    transition: 0.3s ease-in-out;
    transition-delay: 0.1s;
    left: 1.3vw;
    text-shadow: var(--medium-text);
    filter: drop-shadow(var(--medium-text));
}

#sidebar-icons-items-current,
.menu-text-current {
    color: var(--clr-black);
    text-shadow: var(--small-text-hover);
}

#sidebar-icons-items-current {
    scale: 0.90;
}

.menu-text,
.menu-text-current,
.menu-text-br {
    opacity: 0;
    font-size: 18px;
    transition: 0.5s ease-in-out;
    transition-delay: 0.1s;
    font-weight: bold;
    position: relative;
    text-shadow: none;
}

.menu-text-br {
    position: absolute;
    top: 5px;
}

.container-big {
    background-color: var(--clr-white);
    border-radius: 10px;
    position: relative;
    height: 89vh;
    margin-top: 1%;
    margin-left: 0.5%;
    margin-right: 1%;
    width: 1000vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    overflow-x: auto;
}

header {
    color: var(--clr-black);
    position: absolute;
    font-size: 30px;
    font-weight: bold;

    /* top: -20px; */
}

#target2 {
    display: none;
}

h2 {
    position: absolute;
    top: 9%;
    left: 3vw;
    font-size: 16px;
    line-height: 25px;
}

#target-h2-first {
    display: inline;
    top: 9.2%;
}

#caption-symbols-up,
#caption-symbols-down {
    position: relative;
    right: 0%;
    padding-inline-start: 4px;
    color: var(--clr-black);
    text-shadow: var(--small-text);
    cursor: default;
}

#caption-symbols-down {
    padding-inline: 0px;
    width: 20px;
    color: var(--clr-red);
}

#target-h2-second {
    display: none;
}

#caption-symbol-cancel {
    position: relative;
    color: var(--clr-red);
    text-shadow: var(--small-text);
    border-radius: 100px;
    top: 5px;
    font-size: 20px;
    cursor: default;
}

#caption-symbol-cancel:hover,
#caption-symbols-up:hover,
#caption-symbols-down:hover {
    scale: 1;
    text-shadow: var(--small-text);
}

.button1-state1,
.nu-beschikbaar {
    background-image: linear-gradient(to bottom right, rgb(230, 230, 230), rgb(255, 255, 255) 40%);
    border: none;
    font-size: 17px;
    border-radius: 5px;
    position: absolute;
    top: 16%;
    left: 3vw;
    /* line-height: 28px; */
    height: 35px;
    box-shadow: var(--box);
    transition: 0.2s ease-in-out;
    z-index: 100000000;
}

.button1-state1 {
    margin-left: 150px;
}

.button1-state1::selection,
.nu-beschikbaar::selection,
#hide-menu::selection {
    color: var(--clr-white);
    background-color: var(--clr-black);
}

.button1-state1:hover,
.nu-beschikbaar:hover {
    scale: 0.95;
    box-shadow: var(--box-hover);
    cursor: pointer;
}

#drop-down {
    background-image: linear-gradient(to bottom right, rgb(230, 230, 230), rgb(255, 255, 255) 30%);
    height: 68.5vh;
    height: 0vh;
    width: 0px;
    top: 12vh;
    left: 1%;
    /* top: 15.2vh; */
    border-radius: 10px;
    position: relative;
    border: 1px solid var(--clr-black);
    z-index: 100000;
    overflow: auto;
    transition: 0.3s ease-in-out;
    box-shadow: var(--big-box-none);
    overflow-x: hidden;
}

.list-plaatsen {
    list-style: none;
    font-size: 18px;
    padding-left: 20px;
    line-height: 170%;
}

input {
    accent-color: red;
    cursor: pointer;
    /* box-shadow: 0.5px 0.5px 2px 0px black; */
    transition: 0.2s ease-in-out;
}

input:active {
    accent-color: var(--clr-black);
}

#aantal-items,
#gesorteerd-items {
    position: absolute;
    left: 3vw;
    top: 19%;
    font-size: 15px;
    font-weight: 100;
}

#gesorteerd-items {
    margin-left: 70px;
    display: none;
}

hr {
    position: relative;
    top: 19%;
    height: 1px;
    background-color: black;
    border: none;
}

.container-books,
.container-books2 {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    position: absolute;
    margin-left: 3vw;
    margin-right: 3vw;
    left: 0;
    right: 0;
    top: 24%;
    /* height: 1200px; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 20px;
    row-gap: 40px;
    justify-items: center;
    transition: 0.3s ease-in-out;
    padding-inline-start: 0px;
}

.container-books2 {
    height: 0px;
    overflow: hidden;
    z-index: 999;
}

.container-book-individual {
    background-image: linear-gradient(to bottom right, rgb(230, 230, 230), rgb(255, 255, 255) 60%);
    box-shadow: 2px 2px 5px -2px var(--clr-shadow);
    width: 300px;
    height: 260px;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    top: 10px;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
}

.container-book-individual:hover {
    scale: 1.05;
}

.book-name {
    position: absolute;
    top: -8px;
    right: 55px;
    /* overflow-wrap: break-word; */
    height: 20px;
    width: 230px;
    color: var(--clr-black);
    font-weight: bold;
    font-size: 15px;
}

img {
    position: relative;
    bottom: -20px;
    left: 10px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    width: 130px;
}

img::selection {
    background-color: var(--clr-white);
}

img:hover,
img:focus {
    box-shadow: var(--small-box-none);
    scale: 1.01;
}

p {
    /* background-color: rgba(0, 255, 255, 0.356); */
    font-size: 14px;
    position: absolute;
    right: 15px;
    top: 35px;
    width: 44%;
    /* height: 50%; */
    overflow: auto;
    overflow-y: hidden;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 500px;
    margin-block: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--clr-black);
    border-radius: 500px;
    border: solid 2px white;
}

#drop-down::-webkit-scrollbar {
    width: 7px;
}

.text-icons {
    position: absolute;
    bottom: 15px;
    width: 50%;
    right: 10px;
    height: 15%;
    display: flex;
    justify-content: space-evenly;
    background-color: transparent;
}

.material-symbols-outlined {
    font-size: 200%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    text-shadow: var(--small-text);
    transition: 0.1s ease-in-out;
    color: black;
}

/* [id*="thumbs-up"] */
.fa-thumbs-o-up,
.fa-thumbs-o-down,
#thumbs-up-button-filled-1,
#thumbs-up-button-filled-2,
#thumbs-up-button-filled-3,
#thumbs-up-button-filled-4,
#thumbs-up-button-filled-5,
#thumbs-up-button-filled-6,
#thumbs-up-button-filled-7,
#thumbs-up-button-filled-8,
#thumbs-up-button-filled-9,
#thumbs-up-button-filled-10,
#thumbs-up-button-filled-11,
#thumbs-up-button-filled-12,
#thumbs-up-button-filled-13,
#thumbs-up-button-filled-14,
#thumbs-up-button-filled-15,
#thumbs-up-button-filled-16,
#thumbs-up-button-filled-17,
#thumbs-up-button-filled-18 {
    color: var(--clr-black);
    width: 30px;
    position: relative;
    bottom: 9%;
    right: 5%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
    text-shadow: var(--small-text);
    transition: 0.1s ease-in-out;
}

.fa-thumbs-o-down,
#thumbs-down-button-filled-1,
#thumbs-down-button-filled-2,
#thumbs-down-button-filled-3,
#thumbs-down-button-filled-4,
#thumbs-down-button-filled-5,
#thumbs-down-button-filled-6,
#thumbs-down-button-filled-7,
#thumbs-down-button-filled-8,
#thumbs-down-button-filled-9,
#thumbs-down-button-filled-10,
#thumbs-down-button-filled-11,
#thumbs-down-button-filled-12,
#thumbs-down-button-filled-13,
#thumbs-down-button-filled-14,
#thumbs-down-button-filled-15,
#thumbs-down-button-filled-16,
#thumbs-down-button-filled-17,
#thumbs-down-button-filled-18 {
    color: var(--clr-red);
    width: 30px;
    position: relative;
    bottom: 9%;
    right: 5%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
    text-shadow: var(--small-text);
    transition: 0.2s ease-in-out;
}

#cancel-suggestion {
    color: var(--clr-red);
    position: relative;
    bottom: 110px;
    left: 130px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    text-shadow: var(--small-text);
}

.material-symbols-outlined:hover,
.fa-thumbs-o-up:hover,
.fa-thumbs-o-down:hover,
#cancel-suggestion:hover,
.fa:hover,
#menu-arrow:hover,
.material-symbols-outlined:focus,
.fa-thumbs-o-up:focus,
.fa-thumbs-o-down:focus,
#cancel-suggestion:focus,
.fa:focus,
#menu-arrow:focus {
    text-shadow: var(--small-text-hover);
    scale: 0.95;
}

.auteur,
.auteur2 {
    position: absolute;
    left: 155px;
    bottom: 25px;
    color: var(--clr-black);
    font-weight: bold;
    font-size: 14px;
}

.datum {
    position: relative;
    top: 35%;
    left: -3%;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 100;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
}

#h2media {
    display: none;
}

@media (max-width: 550px) {
    #button2media {
        display: none;
    }
}

@media (max-width: 630px) {
    #h2media {
        display: block;
    }

    h2 {
        top: 7%;
    }

    #target-h2-first {
        top: 7.2%;
    }
}

@media (min-width:680px) and (max-width:770px) {

    .container-books,
    .container-books2 {
        column-gap: 500px;
    }

    .container-book-individual {
        /* background-image: linear-gradient(to bottom right, rgb(255, 0, 0), rgb(255, 255, 255) 60%); */
        width: 60vw;
    }

    .book-name {
        position: absolute;
        top: -8px;
        height: 20px;
        width: 230px;
        text-align: right;
    }

    img {
        width: 120%;
        top: 0;
        bottom: 0;
        left: 10px;
        right: 0;
        margin: auto;
    }

    p {
        /* background-color: rgba(0, 255, 255, 0.356); */
        position: absolute;
        right: 50px;
    }

    .text-icons {
        width: 75%;
        right: -20px;
    }

    #cancel-suggestion {
        position: absolute;
        top: -110px;
        right: 10px;
        text-align: right;
    }

    .auteur,
    .auteur2 {
        position: absolute;
        bottom: 40px;
        text-align: right;
        right: 55px;
    }

    .datum {
        position: absolute;
        text-align: right;
        top: 70%;
        right: 55px;
    }
}